In [3]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Aquisition
### Live Demo

In [5]:
accidents_data = pd.read_csv("data/accidents.csv")

In [6]:
accidents_data

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [7]:
accidents_data.shape

(6, 2)

In [8]:
type(accidents_data)

pandas.core.frame.DataFrame

In [9]:
accidents_data.dtypes

Miles from Home    object
% of Accidents      int64
dtype: object

In [10]:
accidents_data.index

RangeIndex(start=0, stop=6, step=1)

In [11]:
accidents_data.columns

Index(['Miles from Home', '% of Accidents'], dtype='object')

## Read fixed width formata data

In [16]:
mpg_data = pd.read_fwf("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data", header = None)

In [17]:
mpg_data.columns = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model year", "origin", "car name"]

In [18]:
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,"""ford mustang gl"""
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,"""vw pickup"""
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,"""dodge rampage"""
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,"""ford ranger"""
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,"""chevy s-10"""

## Read excell

In [20]:
trip_data = pd.read_excel("data/green_tripdata_2015-09.xls")

In [21]:
trip_data.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

## Crawling
#### on site ctrl+U to see source
#### beautifulsoup library

In [ ]:
pd.read_html()